brotli==1.0.9
cchardet==2.1.7
ConfigParser==5.2.0
cryptography==36.0.0
Cython==0.29.25
dl==0.1.0
docutils==0.18.1
firebase_admin==5.1.0
google-cloud-datastore==1.15.3
google-cloud-ndb==1.11.1
google-cloud-storage==1.43.0
google-cloud-core==1.7.2
protobuf==3.19.1
requests==2.26.0
Flask==2.0.2
Flask_Login==0.5.0
HTMLParser==0.0.2
hypothesis==6.30.1
hypothesmith==0.2.0
importlib_metadata==4.8.2
importlib_resources==5.4.0
Jinja2==3.0.3
keyring==23.4.0
lockfile==0.12.2
lxml==4.6.4
numpy==1.21.4
ordereddict==1.1
pathlib2==2.3.6
protobuf==3.19.1
pyOpenSSL==21.0.0
railroad==0.5.0
simplejson==3.17.6
toml==0.10.2
tornado==6.1
unicodedata2==13.0.0.post2
zipp==3.6.0
