<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="{{ action }}" method="POST" class="col-sm-10 col-md-10 col-lg-10" enctype="multipart/form-data">
            <input type="title" name="title" class="form-control mb-3">
            <input type="file" name="file" class="form-control mb-3" accept=".jpg,.png">
            <input type="submit" name="submit" class="btn btn-primary btn-block shadow mb-2">
    </form>
</body>
</html>